# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/

# Build outputs
dist/
web-build/
build/
bin/
*.exe
*.dll
*.so
*.dylib

# Expo/React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/app/debug.keystore
android/app/release.keystore

# Local databases
*.db
*.db-journal
*.db-shm
*.db-wal

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
